@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:wght@700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

#mobile-menu {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

#mobile-menu.active {
    max-height: 400px;
    padding: 1rem 0;
}

.hero-title {
    font-family: 'Open Sans', sans-serif;
}
